{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}

<div>
Vous pouvez suivre ce lien pour <a href="{% url 'admin:publis_collection_add' %}">ajouter une collection.</a></div>
{% if message %}
<div>
<b>Message :</b> {{message}}
<hr/>
</div>
{% endif %}
 {% if collections %}
 <div>
<table>
<tr><th>Code</th><th>Nom</th><th>Nom Hal</th><th>Indicateurs</th><th>Actions</th></tr>
{% for coll in collections %}
<tr>
<td>{{coll.code}}</td><td>{{coll.nom}}</td><td>{{coll.nom_hal}}</td><td>Nb publis: {{coll.nb_publis}}</td>
<td>
<ul>
{% if user.is_superuser %}
 <li><a href="{% url 'admin:publis_collection_change' coll.id %}">Modifier</a></li>
{% endif %}
 <li><a href="{% url 'publis:collections' %}?synchro=1&code={{coll.code}}">Synchroniser avec Hal</a></li>
 <li><a href="{% url 'publis:classement' coll.code %}">Classement des publications</a></li>
 <li><a href="{% url 'publis:stats_collection' coll.code %}">Statistiques </a></li>
</ul>
</td>
</tr>
{% endfor %}
</table>
</div>
{% else %}
Vous n'avez pas encore défini de collection.
{% endif %}


{% endblock content %}