{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}

{% if message %}
<div>
<b>Message :</b> {{message}}
<hr/>
</div>

{% endif %}

<table>
<tr><th>Code</th><th>Nom</th><th>Nom Hal</th><th>Indicateurs</th><th>Actions</th></tr>
{% for coll in collections %}
<tr>
<td>{{coll.code}}</td><td>{{coll.nom}}</td><td>{{coll.nom_hal}}</td><td>Nb publis: {{coll.nb_publis}}</td>
<td>
<ul>
 <li><a href="{% url 'publis:collections' %}?synchro=1&code={{coll.code}}">Synchroniser avec Hal</a></li>
 <li><a href="{% url 'publis:classement' coll.code %}">Classement des publications</a></li>
 <li><a href="{% url 'publis:stats_collection' coll.code %}">Statistiques </a></li>
</ul>
</td>
</tr>
{% endfor %}
</table>
<div>
</div>



{% endblock content %}