{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}


<div>
<p>Choisissez une collection dans la liste pour accéder 
  au formulaire de classement. Ce formulaire met en vis-à-vis les publications HAL de type COMM (conférences) ou ART (revues)
et le meilleur appariement trouvé dans le référentiel.</p> 

<p>Pour chaque publication, les meilleures solutions dans les trois types de source (au plus) 
sont proposées: CORE, 
SCIMAGO ou INTERNE. Le référentiel INTERNE est destiné à compléter les référentiels internationaux (p.e.
avec les conférences nationales, ou les conférences sans actes), ou à les corriger <i>à la marge</i>. La
règle de base pour assurer la cohérence et la crédibilité du classement et de s'appuyer sur CORE
ou SCIMAGO dès qu'ils existent.</p>

<p>La dernière colonne vous permet de choisir le classement de la publication, selon
les principes suivants:
<ul>
  <li>La correspondance entre la publication et la référence doit être claire. Si ce n'est pas le cas, c'est 
    soit que la publication est mal référencée dans HAL (à corriger), soit qu'elle doit être classée en <i>hors référentiel</i>.
    </li>
    <li>Si plusieurs correspondances correctes existent, on peut choisir le meilleur classement.</li>
    <li>Le classement Cédric comprend 5 niveaux, avec les équivalences suivantes:
       <table>
       <tr><th>Classement CORE</th><th>Classement SCIMAGO</th><th>Classement Cédric</th></tr>
       <tr><td>A* et A</td><td>Q1<td>Q1</td></tr>
       <tr><td>B</td><td>Q2</td><td>Q2</td></tr>
       <tr><td>C</td><td>Q3</td><td>Q3</td></tr>
       <tr><td>Unranked</td><td>Q4</td><td>Q4</td></rd>
       </table>
       Le classement <i>Communication</i> correspond aux exposés sans comité de lecture.
</ul>
<hr/>
</div>



{% endblock content %}