{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}


<div>
<p>Choisissez une collection dans la liste du menu local pour accéder 
  au formulaire de classement. Ce formulaire met en vis-à-vis les publications 
   HAL de type COMM (conférences) ou ART (revues)
et le meilleur appariement trouvé dans le référentiel.</p> 

<p>Pour chaque publication, les meilleures solutions dans les différents types de source
sont proposées.</p>

<p>La dernière colonne vous permet de choisir le classement de la publication.</b></p>
</div>



{% endblock content %}