{% extends "layout.html" %} 
{% load i18n %} 

{% load crispy_forms_tags %}

{% block content %}

<h3>Formulaire de recherche des publications</h3>
<div>
   {% crispy form_recherche %}
</div>
{% if erreur %}
<h2>Erreur</h2>
  Votre requête a engendré le message d'erreur suivant: {{message}}. Corrigez et soumettez-la à nouveau.
{% endif %}

{% if resultat %}

   <h3>Résultat</h3>


   <ul>
  {% for publi in resultat %}
       <li>{{publi.titre}},  {{publi.annee}}. <b>Auteur(s)</b> {{publi.chaine_auteurs}}. Classement {{publi.classement}}</li>
  {% endfor %}
  </ul> 
{% endif %}
  
{% endblock content %}