{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}

<div>
Utilisez ce formulaire pour rechercher par mots-clés des références. Le resultat est constitué
des références les plus proches, classées par ordre de pertinence.
</div>
<div>
<form method="get" action="{% url 'publis:recherche'  %}"
    onsubmit="return required_field('requete_sql', 'Saisissez un ensemble de mots-clés')">
    {% csrf_token %}
    <fieldset>
    
    <input type="hidden" id="envoi_requete" name="envoi_requete"  value="1"/>
        <table>
            <tr>
                <th><b>Revues</b></th>
                <th><b>Conférences</b></th>
            </tr>
            <tr>
                <td><input type="radio" name="choix_type" value="ART"     {{checked_revue}} /></td>
                <td><input type="radio" name="choix_type" value="COMM" {{checked_conf}} /></td>
            </tr>
        </table>

        <table border="0">
        <tr>
        <td>
        <span> </span> <label for="requete">{% trans "Saisissez un ensemble de mots-clés" %}</label>
        <textarea rows="5" cols="80" id="requete" id="requete" name="requete">{{requete}}</textarea>
        <br/>
         <input type="submit" value="{% trans 'Exécuter' %}" />
</td>
</tr>
</table>
</div>

{% if resultat %}
   <h3>Résultat classé par ordre de pertinence descendant</h3>
   
   <ul>
  {% for ref in refs %}
       <li>{{ref.title}},  {{ref.description_source}} ({{ref.source}}), classement {{ref.rank}}</li>
  {% endfor %}
  </ul> 
{% endif %}
  
{% endblock content %}