{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}

<div>
<ol>
{% for action in actions %} 
   <li>{{action}}
{% endfor %}
</ol>
<div>Le référentiel est constitué d'un ensemble de sources proposant une classification de revues ou 
conférences. Actuellement trois types de sources sont connues: 
<a href="https://www.scimagojr.com/" target="_blank">SCIMAGO</a> est un classement obtenu 
à partir de la base <a href="https://www.scopus.com/home.uri">Scopus</a>. 
<a href="https://www.core.edu.au/">CORE</a> est un classement spécifique
à la science informatique. Enfin, il est possible d'ajouter des sources représentant un classement
dit "interne".
</div>
<div>
{% for key, value in types_sources %} 
<h3>{{value}}</h3>
<ul>
 {% for source in sources %}
  {% if source.type_source == key %}
      <li>{{source.description}}, {{source.count_refs}} références. (<a href="{% url 'publis:referentiel'%}?id_source={{source.id}}" aria-current="page">(re)charger)</a></li>
   {% endif %}   
  {% endfor %}
</ul>
{% endfor %}
</div>
</div>
  
{% endblock content %}