{% extends "layout.html" %} 
{% load i18n %} 


{% block content %}


<script>
    Highcharts.setOptions(
            {% include "publis/charts/options.json" %}
    );
 </script>
 
 
<h3>Publications par année et par type</h3>

<div id="par_annee"></div>
 <script>
    Highcharts.chart('par_annee', 
       {% include "publis/charts/diagramme_barres.json" with chart_titre=""  chart_annees=annees  chart_donnees=stats_annee_type %}
    );
 </script>


<h3>Publications par année et par classement</h3>

<div id="par_annee_classement"></div>
 <script>
    Highcharts.chart('par_annee_classement', 
       {% include "publis/charts/diagramme_barres.json" with  chart_annees=annees  chart_donnees=stats_annee_classement %}
    );
 </script>

<h3>Répartition par classement sur la période</h3>
<div id="par_classement"></div>
 <script>
    Highcharts.chart('par_classement', 
       {% include "publis/charts/diagramme_camembert.json" with chart_titre="Publications par classement"  chart_donnees=stats_classement|safe %}
    );
 </script>




{% endblock content %}