{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>anibHal - Classement de publications scientifiques</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
<div id="content">
  <h1><span class="hr">anib</span>Hal</h1>
  <ul id="top">
    <li><a class="current" href="#">Collections</a></li>
    <li><a href="#">Référentiel</a></li>
    <li><a href="#">Classement</a></li>
    <li><a href="#">Publications</a></li>
        <li><a href="#">Administration</a></li>
  </ul>
  

  
      <div id="intro">
    <p>Texte intro</p>
      </div>
  
  <div id="left">

            {% block content %}{% endblock content %}
      </div>
      

  <div id="right">
    <h2>Menu local</h2>
    <ul>
      <li><a href="#">In cursus rhoncus ante. Quisque...</a></li>
      <li><a href="#">Blabla...</a></li>
    </ul>
  </div>
  

  <div id="footer">
    <p id="r"><a href="mailto:philippe.rigaux@cnam.fr">&copy; Philippe Rigaux, Cnam</a></p>
    <p> <a href="https://github.com/cedric-cnam/pubrank">bibHal, une application bibliométrique de classement des publications scientifiques</a>  &middot;   Licence <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Licence</a></p>
  </div>
  </div>
  
  
</body>
</html>
